.basediv{
    height: 40%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 1rem;
}

.centerbox{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
}